:root {
	--badge-height: calc(10vw*1.2 + 100px);
	--gray: #bbb;
	--light-gray: #eee;
}


/* -------------------------------------------------------------------------- */
/*                                    Reset                                   */
/* -------------------------------------------------------------------------- */

* {
	padding: 0px;
	margin: 0px;
}


/* -------------------------------------------------------------------------- */
/*                                   General                                  */
/* -------------------------------------------------------------------------- */

html {
	font-family: "Lato", sans-serif;
	font-size: 14px;
	text-rendering: optimizeLegibility;
}
body {
	display: grid;
	grid-template-columns: 90vw;
	grid-template-rows: auto auto;
	grid-template-areas:
		"header"
		"main"
		"footer";
	gap: 50px 0px;
	justify-content: center;
	padding-top: 25px;
}
header {grid-area: header;}
main {grid-area: main;}
footer {grid-area: footer;}


/* -------------------------------------------------------------------------- */
/*                                   Header                                   */
/* -------------------------------------------------------------------------- */

header {
	font-family: "Playfair Display", serif;
	font-weight: 400;
	grid-area: header;
	margin-top: 10px;
}

header>h1 {
	border-bottom: 10px solid #ff0000;
	font-family: "Playfair Display", serif;
	font-weight: 600;
	font-size: 5rem;
	line-height: 5.2rem;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
header>h1 a {
	text-decoration: none;
	border:none;
}
header>h1 a:hover {
	background: none;
	text-decoration: none;
}
header>p, header>nav {
	font-size: 1.8rem;
}

header>nav ul {
	list-style: none;
	padding: 0px;
}
header>nav ul li {
	display: inline-block;
}
header>nav ul li:first-child {
	padding-left: 0px !important;
}
header>nav a {
	border-bottom: none;
}

/* -------------------------------------------------------------------------- */
/*                                   Footer                                   */
/* -------------------------------------------------------------------------- */

footer {
	color: #bbb;
	padding: 30px 0px;
	text-align: center;
}

#social {
	list-style: none;
	padding-left: 0px;
}
#social li {
	display: inline-block;
	width: 40px;
	height: 40px;
}
#social li a {
	color: #bbb;
	display: block;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-indent: -99999px;
	border-bottom: none;
	opacity: .2;
}
#social li a:hover {
	opacity: 1;
	background-color: white;
}

footer a[href^="https://twitter.com"] {background-image: url(/images/logo--twitter.svg);}
footer a[href^="https://www.linkedin.com"] {background-image: url(/images/logo--linkedin.svg);}
footer a[href^="https://github.com"] {background-image: url(/images/logo--github.svg);}
footer a[href^="https://www.instagram.com"] {background-image: url(/images/logo--instagram.svg);}
footer a[href^="https://youtube.com/"] {background-image: url(/images/logo--youtube.svg);}
footer a[href^="https://www.flickr.com/"] {background-image: url(/images/logo--flickr.svg);}

#imprint {
	font-size: 0.7em;
	margin-top: 20px;
}
#imprint a {
	color: var(--gray);
	border: none;
}
#imprint a:hover {
	color: black;
	background: none;
}

/* -------------------------------------------------------------------------- */
/*                                 Font Specs                                 */
/* -------------------------------------------------------------------------- */

a {
	color: black;
	text-decoration: none;
	border-bottom: 3px solid #eee;
	padding: 0px 3px;
}

a:active {
	color: #ff0000;
}

a:hover {
	color: black;
	text-decoration: none;
	background-color: #eee;
}

a:after:visited {
	/* content: " ✓"; */
	content:  "\2713 ";
}

/* -------------------------------------------------------------------------- */
/*                                    Main                                    */
/* -------------------------------------------------------------------------- */

main h2 {
	font-family: "Playfair Display", serif;
	font-weight: 700;
	font-size: 1.8rem;
	margin-bottom: 20px;
}
main h2 a {
	text-decoration: none;
	border: none;
}

main>section {
	margin-bottom: 40px;
}


/* --------------------------------- Content -------------------------------- */

p {
	margin-bottom: 10px;
}

ul {
	list-style-type: "–";
	padding-left: 30px;
}

ul li {
	padding-left: 10px;
	margin-bottom: 5px;
}

hr {
	margin: 1em 0px;
	border: none;
	border-top: 1px solid var(--light-gray);
}

.badge {
	background: #eee;
	width: 100%;
	height: var(--badge-height);
	display: grid;
	grid-template-columns: var(--badge-height) auto;
	grid-template-rows: auto auto;
	grid-template-areas:
		"img heading"
		"img content";
	gap: 10px 30px;
	margin: 30px 0px;
	filter: grayscale(100%);
	transition: filter .3s ease-in-out;
}
.badge:hover {
	filter: grayscale(0%);
}
.badge>img {
	grid-area: img;
	width: 100%;
	height: auto;	
}
.badge>h3 {
	grid-area: heading;
	align-self: end;
	justify-self: start;
}
.badge>p {
	grid-area: content;
	align-self: start;
	justify-self: start;
}

/* ---------------------------------- Blog ---------------------------------- */

#blog>ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%;
	padding-left: 0px;
}
#blog>ul li {
	display: block;
	background-color: #eee;
	height: calc(30vw - 25px);
	width: calc(30vw - 20px);
	color: black;
	position: relative;
}

#blog>ul li a {
	text-decoration: none;
	color: black;
	position: absolute;
	bottom: 10px;
	left: 10px;
	margin-right: 10px;
}


/* ------------------------------- Projects ------------------------------- */

#projects>table {
	font-size: 0.9rem;
	border: none;
	border-collapse: collapse;
	empty-cells: hide;
	width: 100%;
}
#projects>table tr:not(:first-child):hover {
	background-color: #eee;
}
#projects>table th {
	border-bottom: 1px solid black;
}
#projects>table th, #projects>table td {
	padding: 8px;
}
#projects>table a {
	color: black;
	text-decoration: none;
}


/* -------------------------------------------------------------------------- */
/*                                Media Queries                               */
/* -------------------------------------------------------------------------- */

@media screen and (min-width: 320px) {
	html {
		font-size: calc(14px + 6 * ((100vw - 320px) / 680));
	}
}


@media screen and (min-width: 1000px) {
	html {
		font-size: 22px;
	}
}

@media screen and (min-width: 1500px) {
	body {
		display: grid;
		grid-template-columns: 30vw 60vw;
		grid-template-rows: auto;
		grid-template-areas:
			"header main"
			". footer";
		gap: 0px 50px;
		justify-content: center;
		padding-top: 35px;
	}

	main {
		margin-top: 30px;
	}

	#blog>ul li {
		width: 30% !important;
		height: 15vw !important;
	}
}