<footer>
    <ul id="social">
        <li><a href="https://twitter.com/ne555">Twitter</a></li>
        <li><a href="https://www.linkedin.com/in/nicoeinsidler/">LinkedIn</a></li>
        <li><a href="https://github.com/nicoeinsidler">GitHub</a></li>
        <li><a href="https://www.instagram.com/nicoeinsidler/">Instagram</a></li>
        <li><a href="https://youtube.com/viennasessions">YouTube</a></li>
    </ul>
	<ul>
		<li><a href="{{ .Page.Site.BaseURL }}">Home</a></li>
		<li><a href="{{ .Page.Site.BaseURL }}contact">Contact</a></li>
		<li><a href="{{ .Page.Site.BaseURL }}imprint">Imprint</a></li>
	</ul>
    
</footer>