/* -------------------------------------------------------------------------- */
/*                               Var Definitions                              */
/* -------------------------------------------------------------------------- */

:root { /* This is the style sheet for the dark theme, bright theme has to follow */
  --color-bg: #0f0f0f;
  --color-txt: #f2f2f2;
  --color-accent-base: #008eff;
  --color-accent-light: #0cbfe8;
  --color-accent-3: #0d12ff;

  --padding-main: 55px;

  --font-size-txt: 1.5em;
  --font-size-h1: 6em;
  --font-size-h2: 3em;
  --font-size-nav: 1em;
  --font-size-footer: 1em;
  --font-weight-txt: 300;
  --font-weight-txt-bold: 700;
  --font-weight-h1: 800;
  --font-weight-h2: 800;
}

/* -------------------------------------------------------------------------- */
/*                                    Reset                                   */
/* -------------------------------------------------------------------------- */

* {
  padding: 0px;
  margin: 0px;
}

/* -------------------------------------------------------------------------- */
/*                                 Basic Setup                                */
/* -------------------------------------------------------------------------- */

html {
  font-family: "Inter var", sans-serif;
  font-feature-settings: "calt", "frac", "case", "ss02", "ss03", "zero";
  font-size: 12pt;
  text-rendering: optimizeLegibility;
}

body {
  background-color: var(--color-bg);
  color: var(--color-txt);
  display: grid;
  grid-template-columns: var(--padding-main) 3fr 1fr var(--padding-main);
  grid-template-rows: var(--padding-main) auto auto auto;
  grid-template-areas:
    ". . . ."
    ". nav nav ."
    ". main main ."
    "footer footer footer footer";
}

main {grid-area: main;}
footer {grid-area: footer;}
header {grid-area: nav;}

main {
  min-height: 100vh;
  padding-bottom: var(--padding-main);
}

h1 {
  font-weight: 800;
  font-size: var(--font-size-h1);
  margin-bottom:40px;
  letter-spacing: -0.022em;
  line-height: 112px;
}

h2 {
  font-weight: 800;
  font-size: var(--font-size-h2);
  letter-spacing: -0.022em;
  line-height: 56px;
  margin-bottom: 30px;
  margin-top: 50px;
}

p {
  margin-bottom: 20px;
  font-size: 18px;
  letter-spacing: -0.014em;
  line-height: 25px;
}
a,
a:visited {
  color: var(--color-accent-base);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: white;
}
a::after {
  content: "↗";
}
a[href^="#"]::after {
  content: "→";
}
a[href^="https://ne555.io/"]::after
{
  content: none;
}
strong {
  font-weight: var(--font-weight-txt-bold);
}

li, p {
  font-size: var(--font-size-txt);
  font-weight: var(--font-weight-txt);
}

img {
  max-width: 100%;
}

ol,ul {
  margin-bottom: 25px;
}
ol {
  list-style: decimal-leading-zero;
  padding-left: 70px;
}
ul {
  padding-left: 49px;
  list-style: none;
}
ul li::before {
  content: "–";
  margin-right: 9px;
  position: relative;
  top: 2px;
}

/* -------------------------------------------------------------------------- */
/*                                 Navigation                                 */
/* -------------------------------------------------------------------------- */

header {

}
nav ul {
  list-style: none;
  padding-left: 0px;
}
nav li {
  display: inline-block;
  font-size: var(--font-size-nav);
}
nav li a {
  text-decoration: none;
  color: var(--color-txt);
}

/* -------------------------------------------------------------------------- */
/*                                   Footer                                   */
/* -------------------------------------------------------------------------- */

footer ul li::before, nav ul li::before {
  content: none;
  margin-right: 0px;
}
footer {
  padding: var(--padding-main) var(--padding-main);
  background-color: var(--color-accent-base);
  color: var(--color-txt);
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: var(--font-size-footer);
}
footer a {
  color: var(--color-txt) !important;
}
footer ul {
  list-style: none;
  padding-left: 0px;
}

/* -------------------------------------------------------------------------- */
/*                                    Home                                    */
/* -------------------------------------------------------------------------- */

main.home summary {
  --color-accent: #008eff;
}

summary {
  cursor: pointer;
  outline: none;
}
summary::after {
  content: "→";
}

main.home p {
  font-size: 4em;
  font-weight: 580;
  font-feature-settings: "calt", "frac", "case";
  letter-spacing: -0.022em;
  line-height: 80px;
}


/* -------------------------------------------------------------------------- */
/*                                List Template                               */
/* -------------------------------------------------------------------------- */

main.list h2 {
  font-size: 3em;
  font-weight: 800;
}