/* -------------------------------------------------------------------------- */
/*                               Var Definitions                              */
/* -------------------------------------------------------------------------- */

:root {
  /* This is the style sheet for the dark theme, bright theme has to follow */
  --padding-main: 55px;

  --txt-font-size: 24px;
  --txt-line-height: 34px;
  --txt-letter-spacing: -0.019em;

  --txt-small-font-size: 15px;
  --txt-small-letter-spacing: -0.009em;
  --txt-small-line-height: 21px;

  --h1-font-size: 80px;
  --h1-line-height: 100px;
  --h1-letter-spacing: -0.022em;

  --h2-font-size: 40px;
  --h2-line-height: 56px;
  --h2-letter-spacing: -0.022em;

  --font-size-nav: 1em;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #ffffff;
    --color-txt: #131313;
    --color-txt-alt: #9b9b9b;
    --color-accent-base: #008eff;
    --color-accent-light: #0cbfe8;
    --color-accent-3: #0d12ff;
    --color-gray: #000000;

    --txt-font-weight: 400;
    --txt-font-weight-bold: 720;
    --h1-font-weight: 520;
    --h2-font-weight: 650;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #0f0f0f;
    --color-txt: #f2f2f2;
    --color-txt-alt: #9b9b9b;
    --color-accent-base: #008eff;
    --color-accent-light: #0cbfe8;
    --color-accent-3: #0d12ff;
    --color-gray: rgb(31, 31, 31);

    --txt-font-weight: 350;
    --txt-font-weight-bold: 700;
    --h1-font-weight: 540;
    --h2-font-weight: 600;
  }
}

/* -------------------------------------------------------------------------- */
/*                                    Reset                                   */
/* -------------------------------------------------------------------------- */

* {
  padding: 0px;
  margin: 0px;
}

/* -------------------------------------------------------------------------- */
/*                                 Basic Setup                                */
/* -------------------------------------------------------------------------- */

html {
  font-family: "Inter var", sans-serif;
  font-feature-settings: "calt", "frac", "case", "ss02", "ss03", "zero";
  font-size: var(--txt-font-size);
  font-weight: var(--txt-font-weight);
  line-height: var(--txt-line-height);
  letter-spacing: var(--txt-letter-spacing);
  text-rendering: optimizeLegibility;
}

body {
  background-color: var(--color-bg);
  color: var(--color-txt);
  display: grid;
  grid-template-columns: var(--padding-main) 3fr 1fr var(--padding-main);
  grid-template-rows: var(--padding-main) auto auto auto;
  grid-template-areas:
    ". . . ."
    ". main main ."
    "nav nav nav nav"
    "footer footer footer footer";
}

main {
  grid-area: main;
}
footer {
  grid-area: footer;
}
header {
  grid-area: nav;
}

main {
  min-height: 100vh;
  padding-bottom: var(--padding-main);
}

/* -------------------------------------------------------------------------- */
/*                                 Navigation                                 */
/* -------------------------------------------------------------------------- */

header {
  background-color: var(--color-accent-base);
  position: sticky;
  bottom: 0px;
  left: 0px;
  padding-top: 30px;
}
nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 0px !important;
}
nav li {
  font-size: var(--font-size-nav);
}
nav li a {
  color: white !important;
  font-weight: 500;
}
nav li a::after {
  content: none;
}

/* -------------------------------------------------------------------------- */
/*                                   Footer                                   */
/* -------------------------------------------------------------------------- */

footer ul li::before,
nav ul li::before {
  content: none;
  margin-right: 0px;
}
footer {
  color: var(--color-txt-alt);
  padding: var(--padding-main) var(--padding-main);
  background-color: var(--color-gray);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "social social boring boring";
  font-size: var(--font-size-footer);
}
footer a {
  color: var(--color-txt-alt) !important;
}
footer ul {
  list-style: none;
  padding-left: 0px;
}
#social {
  grid-area: social;
}
#boring-links {
  grid-area: boring;
}

/* -------------------------------------------------------------------------- */
/*                                  Projects                                  */
/* -------------------------------------------------------------------------- */

.list ul {
  padding-left: 0px;
}
.list ul li {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "heading heading"
    "timespan desc";
  border-bottom: 1px solid var(--color-txt);
  padding: 20px 0px;
}
.list ul li h2 {
  grid-area: heading;
}
.list ul li p:first-child {
  grid-area: timespan;
}
.list ul li p:nth-child(3) {
  grid-area: desc;
}
.list ul li:first-child {
  border-top: 1px solid var(--color-txt);
}
.list ul li::before {
  content: none;
}
.list h2 {
  font-size: var(--txt-font-size);
  font-weight: var(--txt-font-weight);
  margin: 0px 0px;
}

/* -------------------------------------------------------------------------- */
/*                                Media Queries                               */
/* -------------------------------------------------------------------------- */

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {

} */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    grid-template-areas:
      ". . . ."
      ". nav nav ."
      ". main main ."
      "footer footer footer footer";
  }
  header {
    background-color: unset;
    position: unset;
    padding-top: 0px;
  }
  nav ul {
    list-style: none;
    padding-left: 0px;
    display: block;
  }
  nav li {
    display: inline-block;
    font-size: var(--font-size-nav);
    margin-right: 10px;
  }
  nav li a {
    text-decoration: none;
    color: var(--color-accent-base) !important;
  }
  nav li:first-child a {
    color: var(--color-txt) !important;
    font-weight: var(--txt-font-weight-bold);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    grid-template-areas:
      ". . . ."
      ". nav nav ."
      ". main main ."
      "footer footer footer footer";
  }
  nav {
    position: sticky;
    top: var(--padding-main);
  }
  .list ul li {
    grid-template-columns: 1fr 3fr;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    grid-template-areas:
      ". . . ."
      ". main nav ."
      "footer footer footer footer";
  }
  nav {
    margin-left: var(--padding-main);
    margin-top: 13px;
  }
  nav li {
    display: block;
    font-size: 20px;
    margin-right: 0px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    grid-template-columns: var(--padding-main) 1fr 816px 272px 10fr var(
        --padding-main
      );
    grid-template-areas:
      ". . . . . ."
      ". . main nav . ."
      "footer footer footer footer footer footer";
  }
  footer {
    padding-left: 0px;
    padding-right: 0px;
    grid-template-columns: var(--padding-main) 1fr 544px 544px 10fr var(
        --padding-main
      );
    grid-template-areas: ". . social boring . .";
  }
}

/* -------------------------------------------------------------------------- */
/*                               Basic Elements                               */
/* -------------------------------------------------------------------------- */

h1 {
  font-weight: var(--h1-font-weight);
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  letter-spacing: var(--h1-letter-spacing);
  margin-bottom: 40px;
}

h2 {
  font-weight: var(--h2-font-weight);
  font-size: var(--h2-font-size);
  letter-spacing: var(--h2-letter-spacing);
  line-height: var(--h2-line-height);
  margin-bottom: 30px;
  margin-top: 50px;
}
hr {
  border: none;
  border-top: 1px solid var(--color-txt);
  margin: 20px 0px;
}
p,
figure {
  margin-bottom: 20px;
}
a,
a:visited {
  color: var(--color-accent-base);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: var(--color-accent-light);
}
a::after {
  content: "↗";
}
a[href^="#"]::after {
  content: "→";
}
a[href^="https://ne555.io/"]::after
{
  content: none;
}

li,
p {
  font-size: var(--txt-font-size);
  font-weight: var(--txt-font-weight);
}

figure {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  grid-template-areas: "image caption";
  grid-gap: 20px;
}
figure:nth-child(odd) {
  grid-template-columns: 1fr auto;
  grid-template-areas: "caption image";
}
figure + figure {
  margin-top: 40px;
}
figure > img {
  grid-area: image;
  max-height: 70vh;
}
figure > figcaption {
  grid-area: caption;
  color: var(--color-txt-alt);
}
figcaption p {
  font-size: var(--txt-small-font-size);
  letter-spacing: var(--txt-small-letter-spacing);
  line-height: var(--txt-small-line-height);
}
img {
  max-width: 100%;
  display: inline;
}
/* img::after {
  content: attr(alt); not implemented by most browsers :(
  color: var(--color-gray);
} */
ol,
ul {
  margin-bottom: 25px;
}
ol li,
ul li {
  margin-bottom: 5px;
}
ol {
  list-style: decimal-leading-zero;
  padding-left: 70px;
}
ul {
  padding-left: 49px;
  list-style: none;
}
ul li::before {
  content: "–";
  margin-right: 9px;
  position: relative;
  top: 2px;
}

strong {
  font-weight: var(--txt-font-weight-bold);
}

code,
.highlight {
  font-variant-ligatures: contextual;
  font-family: "JetBrains Mono", "Fira Code", monospace;
}
@supports (font-variation-settings: normal) {
  code,
  .highlight {
    font-variant-ligatures: contextual;
    font-family: "JetBrains Mono", "Fira Code VF", monospace;
  }
}
.highlight pre {
  padding: 20px;
  background: none;
}

/* -------------------------------------------------------------------------- */
/*                                    Home                                    */
/* -------------------------------------------------------------------------- */

main.home summary {
  --color-accent: #008eff;
}

summary {
  cursor: pointer;
  outline: none;
}
summary::after {
  content: "→";
}

main.home p {
  font-size: calc(var(--h1-font-size) - 10px);
  letter-spacing: var(--h1-letter-spacing);
  line-height: calc(var(--h1-line-height) - 20px);
  font-weight: 580;
  font-feature-settings: "calt", "frac", "case";
  margin-bottom: 40px;
}

main.home .active::after {
  content: "↘";
}

/* -------------------------------------------------------------------------- */
/*                                List Template                               */
/* -------------------------------------------------------------------------- */

main.list h2 {
  /* font-size: 3em;
  font-weight: 800; */
}

/* -------------------------------------------------------------------------- */
/*                                   Single                                   */
/* -------------------------------------------------------------------------- */

.short h1 {
  font-size: var(--txt-font-size);
}
.short p {
  font-size: calc(var(--h1-font-size) - 10px);
  letter-spacing: var(--h1-letter-spacing);
  line-height: calc(var(--h1-line-height) - 20px);
  font-weight: 580;
  font-feature-settings: "calt", "frac", "case";
}
