<footer>
    <!-- <img src="{{ .Site.BaseURL }}/images/logo--flickr.svg" alt="">
    <img src="{{ .Site.BaseURL }}/images/logo--youtube.svg" alt="">
    <img src="{{ .Site.BaseURL }}/images/logo--github.svg" alt="">
    <img src="{{ .Site.BaseURL }}/images/logo--linkedin.svg" alt="">
    <img src="{{ .Site.BaseURL }}/images/logo--twitter.svg" alt="">
    <img src="{{ .Site.BaseURL }}/images/logo--instagram.svg" alt=""> -->
    <ul id="social">
        <li><a href="https://twitter.com/ne555">Twitter</a></li>
        <li><a href="https://www.linkedin.com/in/nicoeinsidler/">LinkedIn</a></li>
        <li><a href="https://github.com/nicoeinsidler">GitHub</a></li>
        <li><a href="https://www.instagram.com/nicoeinsidler/">Instagram</a></li>
        <li><a href="https://youtube.com/viennasessions">YouTube</a></li>
    </ul>
</footer>