<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:wght@400;600;500;700&display=swap"
		rel="stylesheet">
	{{ range .Site.Params.custom_css -}}
	<link rel="stylesheet" href="{{ . | absURL }}">
	{{- end }}
	{{ $title := print .Site.Title " | " .Title }}
	{{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
	<title>{{ $title }}</title>
</head>